.pageBody {
  text-align: center;
  margin-top: 4rem;
}

.runButton {
  margin: 2rem;
  width: 6rem;
}
.runButtons {
  flex: content;
  align-items: center;
}

.wicketButton {
  margin: 2rem;
  width: 6rem;
}
.wicketButtons {
  flex: content;
  align-items: center;
}

.card {
  background-color: rgb(34, 34, 34);
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  
}

.wicketDetails {
  display: flex; 
  justify-content: space-between;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
