.pageBody {
  text-align: center;
  margin-top: 4rem;
}

.runButton {
  margin: 2rem;
  width: 6rem;
}
.runButtons {
  flex: content;
  align-items: center;
}

.wicketButton {
  margin: 2rem;
  width: 6rem;
}
.wicketButtons {
  flex: content;
  align-items: center;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
